body,h1,h3,ul,li{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
/*
banner with my name on it, it does overlap the picture that it hovers at the top of the screen. why? idk
 */
.title{
    /*margin: 10px;*/
    position: fixed;
    background-color: darkgreen;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: White;
    width: 100%;
    top:0;
    left:0;
    padding: 10px;
    z-index: 1;
}
/*
This is my name in the banner at the top.
 */
header.title h1{
    display:inline-block;
    border: 2px solid white;
    border-radius:15px;
    padding: 2px 2px;
}
/*
this is where i edit my howl image
 */
.header img{
    width:100%;
    height:100%;
}
/*
This is my welcome message that I will put indside of website opening image.
 */
.header{
    position:relative;
}
.header div{
    position:absolute;
    bottom:20%;
}
.header p{
    background: rgba(204, 204, 204, 0.5);
    border: 3px darkgreen;
    border-radius: 10px;
    color: black;
    font-family: fantasy;
    padding:10px;
    font-size: 2.3vw;
}
/*
the link bar
 */
.links{
    background-color: lightgray;
    padding: 15px;
    position: sticky;
    top:64px;
    margin-top:-6px;
    z-index: 2;
}
.links ul{
    white-space: nowrap;
    max-width:1200px;
    margin:0 auto;
}
.links li{
    text-align: center;
    display: inline-block;
    font-size: 24px;
    width: 33.33333%;
}
.links li a{
    text-decoration: none;
    color:dimgray;
}
/*
This is my information section.
 */
.info{
    background-color: green;
    color: #000000;
    white-space: nowrap;
    width: 100%;
    max-width:1200px;
    margin:0 auto;
    position:relative;


}
.info .selfie{
    display: inline-block;
    width:50%;
    text-align: center;
    margin:auto;

}
.info img{
    height:50%;
    width:50%;
    margin:10% 10%;
}
.info .para{
    position:absolute;
    display:inline-block;
    top:25%;
    right:10%;
    width:50%;
    height:100%;
    text-align: center;
}
.info p{
    font-size: 3vw;
    height:100%;
    width:100%;

}
