
/*
This is the top part of my page where I will eventually make fixed so that it follows when you scroll.
 */
header.title{
    /*margin: 10px;*/
    background-color: darkgreen;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: White;
    width: 100%;
}
/*
I want a border around my header here
 */
header.title h1{
    display:inline-block;
    border: 2px solid white;
    border-radius:15px;
}
/*
this is where i edit my howl image
 */
section.header img{
    width:100%;
}
div.info{
    text-align: center;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    display: inline-block;
    font-weight: bold;
    color: #000000;
    top:100%;
}